<h1>Thêm danh sách</h1>

<form action="/add" method="POST">
   
    MaGiangVien: <input type="text" name="MaGiangVien" ><br>
    HoTen: <input type="text" name="HoTen" ><br>
    DiaChi: <input type="text" name="DiaChi" ><br>
    TelNum: <input type="number" name="SDT" placeholder="hãy nhập số"><br>
    <button type="submit">Thêm GiangVien</button>
</form>